version: "3.9"
services:
  land:
    image: "itech.azurecr.io/appn1:latest"
    ports:
      - "3000:3000"

  cosmic:
    image: "itech.azurecr.io/appn2:latest"
    ports:
        - "3200:3200"
  
  nginx:
    image: "nginx"
    volumes:
       - ./nginx.conf:/etc/nginx/nginx.conf
       - ./certbot/conf:/etc/nginx/ssl
       - ./certbot/data:/var/www/certbot
       - ./certif:/etc/nginx
       - ./index.html:/etc/nginx/index.html

    ports:  
        - "80:80"
        - "443:443"
    expose:
        - 8080
    depends_on:  
        - land
        - cosmic
        - certbot
    links:
        - land
        - cosmic
  certbot:
        image: certbot/certbot:latest
#        command: certonly --webroot --webroot-path=/var/www/certbot --email karosgames472@gmail.com --agree-tos --no-eff-email -d itech.com
        volumes:
            - ./certbot/conf:/etc/letsencrypt
            - ./certbot/logs:/var/log/letsencrypt
            - ./certbot/data:/var/www/certbot
